body {
    background-color: black;
    color: white;
    max-width: 900px;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: purple;
}
footer {
    text-align: center;
}

.title {
    text-align: center;
    color: #dddddd;
}

.page_title {
    text-align: center;
    color: #dddddd;
    text-decoration: darkmagenta wavy underline;
}

.index_title {
    text-align: center;
    color: #dddddd;
    text-decoration: pink underline;
}

#navbar {
    text-align: center;
}

nav a {
	padding: 5px;
}

#blogs{
	padding: 10px;
	margin: 10px;
}

.subtitle {
    text-align: center;
    color: #737373;
    font-style: italic;
}
